:root {
  --base: #1f589d;

  --shade-1: #18467d;
  --shade-2: #12345e;
  --shade-3: #0c233e;

  --tint-1: #4b79b0;
  --tint-2: #789ac4;
  --tint-3: #a5bcd7;

  --comp-1: #1f1f1f;

  --tone-1:#767c82;
  --tone-2:#6c7885;
  --tone-3:#627488;

  --yellow: yellow;
  --orange: #f48200;
  --gold1: #1f589d;
  --gold2: #1f589d;
  --brown: #9d251f;
  --oil: #979d1f;
  --turquaz: #1f8a9d;
  --green: #1f9d25;

}

header {
  background-image: linear-gradient(to bottom right, var(--base), var(--base));
  height: 100vh;
}

header i {
  color: whitesmoke;
  display: inline-block;
  float: left;
  font-size: 70px;
  height: 100%;
  padding: 18px 15px 0 0;
}

h1 {
  text-transform: uppercase;
  color: white;
  line-height: 1.1em;
  font-family: "Krona One", sans-serif;
  font-weight: 200;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-weight: 300;
  font-family: "Antonio", sans-serif;
  line-height: 1.3em;
  letter-spacing: 0.15em;
  font-weight: 200;
  font-weight: 300;
  /* font-family: "Raleway", sans-serif; */
  /* line-height: 1.1em; */
  font-weight: 300;
  font-weight: 400;
  font-weight: 500;
  font-weight: 600;
  font-weight: 700;
  font-size: 45px;
}

h1 span {
  display: block;
  letter-spacing: 0.12em;
  /* letter-spacing: 0.27em; */
  font-family: "Tajawal", sans-serif;
  font-weight: 200;
  font-weight: 300;
  font-size: 45px;
}

#logo {
  display: flex;
  padding: 25px;
}

/************/

header nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 0 10px;

  font-family: "Krona One", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Antonio", sans-serif;
  font-family: "Tajawal", sans-serif;
  font-family: "Raleway", sans-serif;
}

header nav a.active {
  color: var(--orange);
  color: var(--yellow);

  font-weight: 500;
}

header nav a:hover {
  color: var(--orange);
  color: var(--yellow);

  font-weight: 500;
}

header nav#menu {
  display: inline-block;
  position: absolute;
  right: 25px;
  top: 80px;
}
:root {
  --section-title:42px;
  --section-comment:18px;
}
.services {
  text-align: center;
  padding: 35px 15px;


  font-family: "Krona One", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Antonio", sans-serif;
  font-family: "Tajawal", sans-serif;
  font-family: "Raleway", sans-serif;

}
h2 {
  margin-bottom: .5rem;
}
p {
  margin-bottom:1.5em;
}
.services .title h2 {
  text-transform: capitalize;
  font-size: var(--section-title);
  font-weight: 600;

  color:var(--yellow);
  color:var(--orange);

}
.services .title h2 span {
  color:var(--comp-1);
}
.services .title p {
  font-size: var(--section-comment);
  color:var(--shade-3);
  color:var(--shade-2);
  color:var(--tone-3);

}

.services .cards {

}