.testomonials {
  background-color: var(--gray-1);
  color: var(--white-1);
  padding-bottom: 35px;

  background-image: linear-gradient(#333, transparent);

  min-height: 253px;
}
.testomonials .title h2,
.testomonials .title h2 span {
  color: inherit;
}
.testomonials .cards-t {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  text-align: justify;
}
.testomonials .title p {
  color: inherit;
}
i.fas.fa-comment-dots {
  font-size: 50px;
  float: left;
  margin-right: 15px;
}

.cards-t p {
  text-align: justify;
}
.cards-t div {
  max-width: 50%;
  padding: 0 15px;
}

.testomonials h3 {
  display: inline-block;
  margin: 0 15px 0 0;
}

.cards-t span {
  font-style: italic;
  padding-right: 15px;
}

.cards-t span.role::after {
  content: ",";
  font-size: 30px;
  position: absolute;
  line-height: 16px;
}

#records {
  margin-bottom: 0;
}

.cards-t {
  /* background-color: inherit; */
  position: absolute;
  /* animation-name: fadeIn; */
  animation-duration: 1.5s;
  /* animation-iteration-count: infinite; */
  animation-direction: normal;
  opacity: 0;
  animation-fill-mode: forwards;
  /* animation-play-state: paused; */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.cards-t.first {
  /* animation-delay: -2s; */
  /* animation-direction: alternate-reverse; */
}

.cards-t.second,
.cards-t.third {
  /* display: none; */
}
#slide {
  margin-top: 25px;
}
#slide i {
  margin-right: 5px;
  color: #aaa;

   transition: color 1s; 
  cursor:pointer;
}
#slide i.active {
  color: #111;
}

/* #slide a.active i {
    color: #111;
} */

#wrap-t {
    min-height: 88px;
}

header nav#social {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 12px;
  padding-top: 15px;
  /* font-size: 30px; */
}

header nav#social i::before {
  font-size: 35px;
  padding-right: 15px;
  font-family: 'Font Awesome 5 Free' ,'Font Awesome 5 Brands';
}

header nav#social i {
  font-size: 0px;
  width: 50px;
  text-align: center;
  /* line-height: 35px; */
  /* box-shadow: 1px 3px 5px 3px gray; */
  transition: color 1s ,font-size 1s ,width 1s,background-color 1s ,background-image 1s; /* the problem is with text-align */
  padding: 5px 0;
  /* padding-right:15px; */
  font-family: 'Montserrat' ,sans-serif;
  font-weight: 600;
}

header nav#social i.fas.fa-mobile {
  width: 35px;
  /* transition: all 1s; */
}

header nav#social i:hover {
  color: var(--yellow);
  cursor: pointer;
  width: 22ch;
  /* background-color: var(--shade-2); */
  /* text-align: initial; */
  background-image: linear-gradient(to right, transparent 7%, var(--yellow) 7%);
  background-image: linear-gradient(to right, transparent, var(--shade-2));
  background-image: linear-gradient(to right, var(--shade-2) ,transparent);
  /* box-shadow: 37px 0px 1px 1px; */
  /* text-align: initial; */
  font-size:35px;
}

header nav#social i.fas.fa-mobile:hover {
  width: 22ch;
  /* box-shadow: 25px 0px 1px 1px; */
}

header nav#social i.fab.fa-facebook:hover {
  width: 22ch;
  /* text-align: initial; */
  /* box-shadow: 25px 0px 1px 1px; */
}
header nav#social i.fab.fa-facebook.link {
  transition: none;
}
header nav#social i.fab.fa-facebook.link:hover {
  color:var(--yellow);
  cursor: pointer;
  width: initial;
  background-image: initial;
}

header nav#social i > a {
  color:inherit;
  background-color: initial;
  padding: 0;
  font-family: inherit;
}


header nav#social a {
  color:inherit;
  background-color: initial;
  padding: 0;
  font-family: inherit;
}

header nav#social i > a:hover {
  font-weight: 700;
  font-family: inherit;
}