
  animation-direction: normal;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation: typing 2s steps(22) infinite;
  background-color: #202020;
  background-image 1s; /* the problem is with text-align */
  background-image: initial;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background: #151414;
  border-bottom: 2px solid var(--turquaz-3);
  border-bottom: 5px solid var(--gray-1);
  border-color: transparent;
  border-left: 2px solid var(--turquaz-3);
  border-radius: 10px 10px 0 0;
  border-right: 5px solid var(--turquaz-3);
  border-top: 2px solid transparent;
  border: 1px solid #ccc;
  box-shadow: 0 0 12px 2px #ccc;
  box-sizing: border-box;
  color: #111;
  color: #111;
  content: "";
  cursor: pointer;
  display: block;
  flex-wrap: wrap;
  float: left;
  font-family: "Antonio", sans-serif;
  font-family: inherit;
  font-style: italic;
  font-weight: 200;
  height: 100%;
  left: 0;
  letter-spacing: 0.12em;
  line-height: 1.1em;
  margin-bottom: 0.5rem;
  margin-left: 60px;
  margin-right: 15px;
  margin-top: 1.5rem;
  margin: 0 15px 0 0;
  max-width: 25%;
  min-height: 100px;
  min-width: 25%;
  opacity: 0.8;
  outline: none;
  overflow: hidden;
  padding-bottom: 35px;
  padding-right: 15px;
  padding-top: 21px;
  padding-top: 33px;
  padding: 6px 12px;
  position: relative;
  right: 59%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  top: -32px;
  transform: inherit;
  transition: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 0;